= render 'shared/side_bar'

.chat-main
  .chat-main__header
    .chat-main__header__groups
      .chat-main__header__groups__left
        .chat-main__header__groups__left__name
          %p group
        .chat-main__header__groups__left__member
          %p member
      .chat-main__header__groups__right
        .chat-main__header__groups__right__edit-btn
          %p Edit

  .chat-main__body
    = render @messages

  .chat-main__footer
    .chat-main__footer__form
      = form_for [@group, @message] do |f|
        .chat-main__footer__form__message
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          = f.label :image do
            = f.file_field :image, class: 'hidden'
            = fa_icon ('image'), class: 'image'
          = f.submit 'Send', class: 'send'
